@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    System.Timers.Timer timer;

    protected override void OnInitialized()
    {
        timer = new System.Timers.Timer(500);
        timer.Elapsed += IncrementCount;
        timer.Start();

    }
    private void IncrementCount(object sender, ElapsedEventArgs e)
    {
        currentCount++;
        Console.WriteLine(currentCount);
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        if (timer != null)
        {
            timer.Dispose();
        }
    }
}
