<div class="row">
    <div class="col">
        <input class="form-control" placeholder="New Task" @bind-value="_taskName"/>
    </div>
    <div class="col">
        <input class="form-control" placeholder="Coloborator" @bind-value="_nameColoborator"/>
    </div>
    <div class="col">
        <button class="btn btn-primary" @onclick="(()=> taskService.AddToList(taskService.GetSimpleList(), new Data.TaskService(_taskName,_nameColoborator)))">Add Task</button>
    </div>
    <div class="col">
        <button class="btn btn-primary">Save List</button>
    </div>
</div>

